<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
{% block title %}
Layout
{% endblock %}
    </title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
<body style="background-color:#0d1722 ;">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Home Page</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/information">Information <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/news">News<span class="sr-only">(current)</span></a>
        </li>
     
        <li class="nav-item active ">
          <a class="nav-link " href= "/contact">Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link  " href= "/about">About</a>
        </li>
      </ul>

      {% if session["logged_in"] %}

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ">
          <a class="nav-link " href="/logout">Logout<span  class="sr-only">(current)</span></a>

        </li>
     
        {% if session["status"] == 1 %}
      
        <li class="nav-item active ">
          <a class="nav-link " href="/dashboard">Dashboard<span  class="sr-only">(current)</span></a>
        </li>
    
        {% endif %}
      </ul>
       {% endif %}
    
    </div>
  </nav>


  
    <div class="container">
      {% include "includes/messages.html" %}

      {% block body %}
    

    {% endblock %}

</div>    

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace( 'article' );
</script>
</body>
</html>